@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #180202;
  }
}

/* body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */




html, body {
height: 100%;
}


body {
@apply bg-gray-50 text-gray-900;
}


/* Custom scrollbar */
::-webkit-scrollbar {
width: 8px;
height: 8px;
}


::-webkit-scrollbar-thumb {
background: #cbd5e1;
border-radius: 9999px;
}


::-webkit-scrollbar-track {
background: #f1f5f9;
}